{% extends "layout.html" %}
{% block content %}
            <form action="/" method="post">
                <div class="form-group"></div>
                    <label for="cars">Choose reg:</label>
                    <select name="cars" id="cars">
                        <option value="volvo">ApS</option>
                    </select>
                    <label for="comment">JSON:</label>
                    <textarea class="form-control" rows="10" name="textfield" value="Inser JSON"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>     
{% endblock content %}