{% extends "layout.html" %}
{% block content %}

<script>
$(function() {
    $('#vatsection').hide();
    $('#chooseType').change(function(){
        if($('#chooseType').val() == 'ApS') {
            $('#emailsection').show();
            $('#vatsection').hide();
        } else {
            $('#emailsection').hide();
            $('#vatsection').show();
        } 
    });
    $( "#submit" ).click(function() {
        $('#loadingModal').modal('show')
    });
});
</script>
<form action="/" method="post">
    <div class="form-group"></div>
        <label for="cars">Choose a type of registration:</label>
        <select class="form-control" name="dropdownitem" id="chooseType">
            <option value="ApS">ApS</option>
            <option value="Enkeltmandsvirksomhed">Enkeltmandsvirksomhed</option>
        </select>
        <br>
        <label for="comment">Document data:</label>
        <textarea class="form-control" rows="10" name="textfield" value="Inser JSON" placeholder="Enter JSON"></textarea>
        <br>
        <div id="emailsection">
            <label for="exampleInputEmail1">Who approves the capital?</label>
            <input type="email" class="form-control" name="emailfield" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Use "test@legaldesk.dk" to avoid capital confirmation.</small>
        </div>
        <div id='vatsection'>
            <label for="cars">Choose a Moms/Lønsum:</label>
            <select class="form-control" id="vat" name="vat">
                <option value="Moms">Moms</option>
                <option value="Lønsum">Lønsum</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg" id=submit>Submit</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</form>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Loading...</h2>
        </div>
        <div class="modal-body">
            <br><br><br>
            <center><img src="/static/images/source.gif"></center>
            <br><br><br><br>
        </div>
        
      </div>
    </div>
  </div>
{% endblock content %}